:root{
    --darkorange : #864900;
}

*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}

html,body{
    /* height: 100%; */
    scroll-behavior: smooth;
}

html{
    background-color: #efefef;
}

body{
    background-color: #fff;
    max-width: 1920px;
    margin:auto;
    filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.8) );
}

body::-webkit-scrollbar{
    width: 5px;
}


body::-webkit-scrollbar-track{
    background-color: #F5F5F5;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background-image: linear-gradient(darkorange, red );
}


nav{
    /* border-bottom:solid red 1px; */
    padding: 0px 50px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

nav .brand{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    color: var(--darkorange);
}

nav ul{
    list-style-type: none;
    margin: 0;
}

nav li{
    display: inline-block;
    margin: 0px 10px;
}

nav a{
    padding: 5px;
    display: block;
    color: var(--darkorange);
    text-decoration: none;
}

nav a{
    padding: 5px;
    display: block;
    color: var(--darkorange);
    text-decoration: none;
    position: relative;
}


nav a::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0px;
    width: 0%;
    background-color: var(--darkorange);
    height: 3px;
    transition: all 300ms;
}
nav a:hover::after{
    width: 100%;
    transition: all 300ms;
}

nav a:hover{
    text-decoration: none;
    color: var(--darkorange);
}


/* ===================== */

.bannertop{
    width: 100%;
    height: 80vh;
    background-image: url('./ressources/img/bannerup.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    position: relative;
    display: flex;
    align-items: center;
    padding: 60px;
    transition : background-position-y 1s;
}

.bannertop:hover{
    background-position-y: -15px;
}

.bannertop::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    background: linear-gradient(103.61deg, rgba(0, 48, 91, 0.2) 20.19%, rgba(255, 0, 184, 0.2) 76.04%);
    z-index: -1;
}

.bannertop .content{
    color: white;
    max-width: 380px;
}

.bannertop h1{
    font-weight:bold ;
}

.scrollbtn{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    background-color: rgba(42,44,37,0.38);
    border:solid #fff 1px;
    color:#fff;
    text-align: left;
    padding-left: 15px;
    outline: none;
    cursor: pointer;
    transition: all 250ms;
}

.scrollbtn:hover{
    text-decoration: none;
    color: #fff;
    background-color: rgba(42,44,37,0.8);
}

section{
    background-color: #fff;
    width: 100%;
}

section h2{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--darkorange);
    position: relative;
    display: inline-block;
}

section h2::before{
    content: '';
    width: 80px;
    height: 4px;
    border-radius: 15px;
    position: absolute;
    top: 12px;
    left: -90px;
    background-color: var(--darkorange);
}

.about{
    min-width: 350px;
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: right;
}

/* ==================== */
.bannermiddle{
    padding-top: 30px;
    width: 100%;
    height: 70vh;
    background-image: url('./ressources/img/bannermidlle.jpg');
    background-image: url('./ressources/img/teste.jpg');
    background-size: cover;
    background-position-y: center;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    transition : background-position-y 1s
}

.bannermiddle:hover{
    background-position-y: -50px;
}

.char{
    padding-top: 30px;
}

.char .chartitle{
    width: 70%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
}

.char .onecard{
    background-color: #ebebeb;
    border-radius: 10px;
    /* max-height: 180px; */
    margin-bottom: 30px;
}

.char .onecard:hover img{
}


.char .image{
    /* border:solid red 1px; */
    width: 35%;
    min-width: 100px;
    margin-left:-15px ;
    margin-top:-20px ;
    display: inline-block;
    vertical-align: top;
}

.char .image img{
    width: 100%;
    transition: filter 500ms;
    filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.4));

}

.char .text{
    /* border:solid red 1px; */
    padding: 10px;
    display: inline-block;
    width: 60%;
}

.char .text h3{
    font-weight: bold;
    font-size: 1.5em;
}

.char .text p{

}

/* ========================= */
.movie{
    /* height: 80vh; */
    background-image: url('./ressources/img/jumpnight.jpg');
    /* background-attachment: fixed; */
    background-size: cover;
    position: relative;
}

.movie::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /* background-color: #000000; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(180deg, rgba(0, 0, 0, 0) -22.27%, #000000 100%);
}

.movie .content{
    position: relative;
    z-index: 10;
    color : #fff;
    padding: 50px;
}

.movie h1{
    font-weight: 900;
}

.movie p{
    max-width: 600px;
}

.movie .galerie{
    max-width: 700px;
    /* min-width: 400px; */
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: auto;
    /* border:solid red 1px; */
}

.movie .galerie img{
    width: 30%;
    min-width: 150px;
    max-width: 200px;
    max-height: 150px;
    height: 115px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0 5px;
    margin-bottom: 15px;
    opacity: 0.7;
    cursor: zoom-in;
    filter: grayscale(.5);
    transition: all 300ms;
}

.movie .galerie img:hover{
    opacity: 1;
    filter: grayscale(0);
}



/* ====================== */
footer{
    height: 15vh;
    background-color: #000000;
}

/* ================= CONSTRUCTION  */
#construction{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-image: url('./ressources/img/letusskate.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}


#construction::before{
    content: '';
    height: 100vh;
    width: 100%;
    position: absolute;
    background: linear-gradient(286.95deg, #000000 8.74%, rgba(0, 0, 0, 0) 105.71%), rgba(0, 0, 0, 0.5);
    transform: rotate(-180deg);
}

#construction #content{
    z-index: 2;
    color : #fff;
    max-width: 300px;
    margin-left: 15%;
    position: relative;
}

#construction #content::before{
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    background-color: #fff;
    width: 5px;
}



#construction #content .title{
    font-size: 4em;
    font-weight: bold;
    margin: 0;
    line-height: 1em;
}

#construction #content .sub{
    font-size: 1em;
    margin: 0;
}

#construction #content .retour{
    color : #fff;
    width: 200px;
    padding: 10px 15px;
    background-color: #000;
    display: block;
    margin-top: 10px;
    border:solid #fff 1px;
    border-radius: 20px;
}

